<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ultimate solution for your database" />
    <title>DataBoard</title>
</head>
<body>

    <div>Hello DataBoard</div>

</body>
</html>
